In [178]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [179]:
# Get the backers_info from the crowdfunding_info sheet. 
backer_data_df = pd.read_csv("backer_info.csv")
pd.set_option('max_colwidth', 400)
backer_data_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [180]:
# Iterate through the backers DataFrame and convert each row to a dictionary.


    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [181]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backer_data_df['backer_id'] = backer_data_df['backer_info'].str.extract(r'([a-z]+\d{3})')
backer_data_df['cf_id'] = backer_data_df['backer_info'].str.extract(r'(\s\d{1,3})')
backer_data_df['name'] = backer_data_df['backer_info'].str.extract(r'([a-zA-Z]+\s+[a-zA-Z]+)')
backer_data_df['email'] = backer_data_df['backer_info'].str.extract(r'([\w.+-]+@[\w-]+\.[\w.-]+)')
backer_data_df = backer_data_df[["backer_id", "cf_id", "name","email"]]
backer_data_df.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582   157     Armonda Trani        atrani@live.com
8     id772   191        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [182]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_data_df.to_csv("backer_data.csv", index = False, encoding='utf8' )

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [183]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [184]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [185]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [186]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [187]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [188]:
# Create a new DataFrame with the appropriate columns.

In [189]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [190]:
# Check data types.
backer_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [191]:
# Convert cf_id to an integer if necessary.
backer_data_df[["cf_id"]] = backer_data_df[["cf_id"]].astype(int)
backer_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [192]:
# Split the "name" column into "first_name" and "last_name" columns.
backer_data_df[["first_name", "last_name"]] = backer_data_df["name"].str.split(' ',n=1,expand=True)

In [193]:
#  Drop the name column
backer_data_df = backer_data_df.drop(['name'], axis=1)

# Reorder the columns
backer_data_df = backer_data_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
backer_data_df.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582    157    Armonda     Trani        atrani@live.com
8     id772    191      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [194]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backer_data_df.to_csv("backers.csv" , index = False, encoding='utf8' )